<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value="D:\NuGetPackages" />
		<add key="http_cache_path" value="D:\NuGetCache\Http" />
		<add key="temp_path" value="D:\NuGetCache\Temp" />
		<add key="pluginsCacheFolder" value="D:\NuGetCache\Plugins" />
	</config>
</configuration>
